body {
    font-family: -apple-system, BlinkMacSystemFont;
    padding: 10px;
}

button {
    display: block;
    width: 100%;
    margin: 6px 0;
    padding: 12px;
    font-size: 16px;
}

.question {
    margin-bottom: 20px;
}

.explain {
    color: #555;
    font-style: italic;
}
